.bannerall {
    color: #000000;
    // background: $mainContrast;
    font-size: 20px;
    // background-image: url("images/daria-shevtsova-57355.jpg");
    // background: transparent;

}


.banner-1 {
    font-family: 'Barrio', cursive;
    
}


.banner-2 {
    font-family: 'Megrim', cursive;
}

.banner-3 {
    font-family: 'Share Tech Mono', monospace;
}

.banner-4 {
    font-family: 'Ewert', cursive;

}

.banner-5 {
    font-family: 'Raleway Dots', cursive;
    font-size: 40px;
    padding: 10px;

}

.banner-6 {
    font-family: 'Montserrat Subrayada', sans-serif;

}

