article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flicker-2 {
  -webkit-animation: flicker-2 1s linear infinite both;
  animation: flicker-2 1s linear infinite both; }

/* ----------------------------------------------
 * Generated by Animista on 2018-2-15 17:43:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-2
 * ----------------------------------------
 */
@-webkit-keyframes flicker-2 {
  0%,
  100% {
    opacity: 1; }
  41.99% {
    opacity: 1; }
  42% {
    opacity: 0; }
  43% {
    opacity: 0; }
  43.01% {
    opacity: 1; }
  45.99% {
    opacity: 1; }
  46% {
    opacity: 0; }
  46.9% {
    opacity: 0; }
  46.91% {
    opacity: 1; }
  51.99% {
    opacity: 1; }
  52% {
    opacity: 0; }
  52.8% {
    opacity: 0; }
  52.81% {
    opacity: 1; } }

@keyframes flicker-2 {
  0%,
  100% {
    opacity: 1; }
  41.99% {
    opacity: 1; }
  42% {
    opacity: 0; }
  43% {
    opacity: 0; }
  43.01% {
    opacity: 1; }
  45.99% {
    opacity: 1; }
  46% {
    opacity: 0; }
  46.9% {
    opacity: 0; }
  46.91% {
    opacity: 1; }
  51.99% {
    opacity: 1; }
  52% {
    opacity: 0; }
  52.8% {
    opacity: 0; }
  52.81% {
    opacity: 1; } }

.vibrate-3 {
  -webkit-animation: vibrate-3 0.5s linear infinite both;
  animation: vibrate-3 0.5s linear infinite both; }

/* ----------------------------------------------
* Generated by Animista on 2018-2-15 17:8:34
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation vibrate-3
* ----------------------------------------
*/
@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.bannerall {
  color: #000000;
  font-size: 20px;
  text-align: center; }

.banner-1 {
  font-family: 'Barrio', cursive;
  font-size: 30px; }
  .banner-1::after {
    content: "  \2665"; }
  .banner-1::before {
    content: "\2665  "; }

.banner-2 {
  font-family: 'Megrim', cursive;
  font-size: 35px;
  font-weight: bold; }
  .banner-2::before {
    content: "\291c  ";
    font-weight: normal; }
  .banner-2::after {
    content: "  \291b";
    font-weight: normal; }

.banner-3 {
  font-family: 'Share Tech Mono', monospace;
  padding: 0 20px 10px;
  font-size: 32px; }
  .banner-3::before {
    content: "\21a2  ";
    font-size: 30px; }
  .banner-3::after {
    content: "  \21a3";
    font-size: 30px; }

.banner-4 {
  font-family: 'Ewert', cursive;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10px 10px; }
  .banner-4::before {
    content: "\2606  "; }
  .banner-4::after {
    content: "  \2606"; }

.banner-5 {
  font-family: 'Raleway Dots', cursive;
  font-weight: heavy;
  font-size: 40px;
  padding: 10px; }
  .banner-5::before {
    content: "\22ee \22ee \22ee    ";
    font-size: 20px; }
  .banner-5:after {
    content: "    \22ee \22ee \22ee";
    font-size: 20px; }

.banner-6 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 35px; }
  .banner-6::before {
    font-size: 30px;
    padding-bottom: 2px; }
  .banner-6::after {
    font-size: 30px;
    padding-bottom: 2px; }

body {
  background-color: #32353a; }

h1, h2 {
  margin: 0;
  padding: 0; }

h1, p {
  color: #d1d0de; }

header {
  margin: 20px 0; }

img {
  padding: 100px 50px 0px;
  background-color: transparent; }

.resultsall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d1d0de;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 10px; }
  .resultsall img {
    max-width: 100%; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

input {
  background: #32353a;
  border-radius: 50px;
  border: 3px dotted #d1d0de;
  padding: 12px;
  font-size: 16px;
  color: #d1d0de; }
  input:focus {
    outline-color: #d1d0de; }

button[type=submit] {
  background: none;
  border: none;
  color: #d1d0de; }
  button[type=submit] span {
    padding-top: 5px;
    position: relative;
    top: 3px;
    right: 5px;
    font-size: 35px;
    cursor: pointer; }

.formcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .formcontainer input {
    margin-top: 50%; }
  .formcontainer h1 {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 60px; }

.moveform {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px;
  padding: 10px; }
  .moveform input {
    margin-top: 0; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #252526;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100vh;
  z-index: 999999999999999999; }

.loader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .loader-inner svg {
    margin: 0 auto;
    margin-top: 100px;
    position: relative; }
  .loader-inner p {
    color: white; }

.buzz1 {
  position: absolute;
  top: 5%;
  left: 30%; }

.buzz2 {
  position: absolute;
  top: 35%;
  right: 30%; }

.buzz3 {
  position: absolute;
  bottom: 30%;
  left: 35%; }
