@import "normalize";
@import "variables";

body {
    // background: blue;
}

.banner-1 {
    border: 3px solid mediumvioletred;
}

.banner-2 {
    border: 2px solid dodgerblue;
}

.banner-3 {
    background: darkcyan;
}