@import "normalize";
@import "variables";

.banner {
    font-size: 24px;
}

.banner-1 {
    border: 3px solid mediumvioletred;
}

.banner-2 {
    border: 2px solid dodgerblue;
}

.banner-3 {
    background: darkcyan;
}